{% extends 'skeleton.html' %}
{% block title %}Add New Tag{% endblock %}
{% block body %}
    <h1>Add New Tag</h1>
    <form action="/question/{{ question_id }}/new-tag" method="post">
        <input type="text" name="name" list="all_tags">
        <datalist id="all_tags">
            {% for tag in all_tags %}
                <option value="{{ tag.name }}">{{ tag.name }}</option>
            {% endfor %}
        </datalist>
        <br><button type="submit">Add</button>
    </form>
{% endblock %}