<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/style.css">
        <title>Ask Mate - All Questions</title>
    </head>
    <body>
        <h1>Ask Mate - All Questions</h1>
        <a href="/add-question">Add new Question</a><br>
        <a href="/list">List all questions</a><br>
        <br> <form action="/" method="post">
                <label for="order_by"><strong>Sort by:</strong></label>
                <input type="radio" name="order_by" value="title">Title
                <input type="radio" name="order_by" value="message">Message
                <input type="radio" name="order_by" value="submission_time" checked>Submission Time
                <input type="radio" name="order_by" value="view_number">View Number
                <input type="radio" name="order_by" value="vote_number">Vote Number
                <label for="order_direction"><strong>Order direction:</strong></label>
                <input type="radio" name="order_direction" value="ASC">Ascending
                <input type="radio" name="order_direction" value="DESC" checked>Descending
                <button type="submit">Submit</button><br>
            </form>
        <table>
            <tr>
                <th>ID</th>
                <th>Submission Time</th>
                <th>View Number</th>
                <th>Vote Number</th>
                <th>Question Title</th>
                <th>Question Message</th>
                <th>Image</th>
            </tr>
            {% for question in latest_questions %}
            <tr>
            {% for fieldname, item in question.items() %}
                 <td>{% if fieldname=="title" %}
                    <a href="/question/{{ question.id}}">
                          {% endif %}
                 {% if fieldname=="image" and item != None %}
                    <img src="{{ url_for('static', filename='uploads/' + question["image"]) }}" width="100">
                 {% else %}
                    {{ item }}
                 {% endif %}
            {% if fieldname=="title" %}
                </a>
            {% endif %}
                </td>
            {% endfor %}
            <td>
                <a href="/question/{{ question["id"] }}/delete">Delete</a>
            </td>
            <td>
                <a href="/question/{{ question["id"] }}/vote-up">Upvote</a>
            </td>
            <td>
                <a href="/question/{{ question["id"] }}/vote-down">Downvote</a>
            </td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>