{% extends 'skeleton.html' %}
{% block title %} Ask Mate {% endblock %}
{% block h1 %}<h1>Ask Mate</h1> {% endblock %}
    {% block sidebar %}
    <section>
    <div class="menu">
        <br>
        <br>
        <br>
        <br>
    {% if username != '' %}
        <h2><a href="/add-question">Add new Question</a></h2>
    {% endif %}
        <hr>
    <h2><a href="/list" class="sidebar">List all questions</a><br><h2>
    <hr>
    <a href="{{ url_for('bonus_questions_list') }}" class="sidebar">Bonus questions</a><br>
    <hr>
        {% if username != '' %}
            <a href="/users">List users</a><br>
            <hr>
            <a href="/user/{{ user_id }}">My profile</a>
            <hr>
            <a href="/logout">Log out</a>
        {% else %}
            <a href="/registration">Registration</a>
            <br>
            <hr>
            <a href="/login">Login</a><br>
            <hr>
    {% endif %}
    </div>
    </section>
    {% endblock %}
        {% block content %}
            <div class="sortorder">
        <br><form action="/" method="post">
            <label for="order_by"><strong>Sort by:</strong></label>
            <label class="container">
                <input type="radio" name="order_by" value="title">Title
            <span class="checkmark"></span>
                </label>
            <label class="container">
                <input type="radio" name="order_by" value="message">Message
                <span class="checkmark"></span>
                </label>
            <label class="container">
                <input type="radio" name="order_by" value="submission_time" checked>Submission Time
                <span class="checkmark"></span>
                </label>
            <label class="container">
                <input type="radio" name="order_by" value="view_number">View Number
                <span class="checkmark"></span>
                </label>
            <label class="container">
                <input type="radio" name="order_by" value="vote_number">Vote Number
                <span class="checkmark"></span>
                </label>
            <br><label for="order_direction"><strong>Order direction:</strong></label>
                <label class="container">
                <input type="radio" name="order_direction" value="ASC">Ascending
                <span class="checkmark"></span>
                </label>
            <label class="container">
                <input type="radio" name="order_direction" value="DESC" checked>Descending
                <span class="checkmark"></span>
                </label>
            <br><button type="submit" class="btn">Submit</button><br>
                <br>
        </form>
            </div>
        <table class="table table-hover">
            <tr>
                <th>Submission Time</th>
                <th>View Number</th>
                <th>Vote Number</th>
                <th>Question Title</th>
                <th>Question Message</th>
                <th>Image</th>
                <th>Author</th>
                <th>Upvote</th>
                <th>Downvote</th>
                <th>Delete</th>
            </tr>
            {% for question in latest_questions %}
        <tr>
        <td>{{ question.submission_time }}</td>
        <td>{{ question.view_number }}</td>
        <td>{{ question.vote_number }}</td>
        <td><a href="/question/{{ question.id}}">{{ question.title }}</a></td>
        <td>{{ question.message }}</td>
            {% if question.image %}
            <td><img src="{{ url_for('static', filename='uploads/' + question["image"]) }}" width="30"></td>
            {% else %}
            <td> </td>
            {% endif %}
        <td>{{ question.username }}</td>
        <td>
                <a href="/question/{{ question["id"] }}/vote-up"><i class="fa-solid fa-thumbs-up"></i></a>
            </td>
            <td>
                <a href="/question/{{ question["id"] }}/vote-down"><i class="fa-solid fa-thumbs-down"></i></a>
            </td>
            <td>
                <a href="/question/{{ question["id"] }}/delete"><i class="fa-solid fa-trash-can"></i></a>
            </td>
        </tr>
        {% endfor %}
        </table>
    {% endblock %}