<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Ask Mate - All Questions</title>
    </head>
    <body>
        <h1>Ask Mate - All Questions</h1>
        <a href="/add-question">Add new Question</a><br>
        <br><form action="/list" method="post">
            <strong>Sort by:</strong><br>
            <input type="radio" name="order_by" value="title" checked>Title
            <input type="radio" name="order_by" value="message">Message
            <input type="radio" name="order_by" value="submission_time">Submission Time
            <input type="radio" name="order_by" value="view_number">View Number
            <input type="radio" name="order_by" value="vote_number">Vote Number

            <br>
            <strong>Order Direction:</strong><br>
            <input type="radio" name="order_direction" value="asc" checked>Ascending
            <input type="radio" name="order_direction" value="desc">Descending
            <input type="submit" value="Submit">
        <table>
            <tr>
                <th>ID</th>
                <th>Submission Time</th>
                <th>View Number</th>
                <th>Vote Number</th>
                <th>Question Title</th>
                <th>Question Message</th>
                <th>Image</th>
            </tr>
            {% for question in all_questions %}
            <tr>
            {% for fieldname, item in question.items() %}
                 <td>{% if fieldname=="title" %}
                    <a href="/question/{{ question["id"]}}">
                          {% endif %}
            {{item}}
            {% if fieldname=="title" %}
                </a>
            {% endif %}
                </td>
            {% endfor %}
            <td>
                <a href="/question/{{ question["id"] }}/delete">Delete</a>
            </td>
            <td>
                <a href="/question/{{ question["id"] }}/vote-up">Upvote</a>
            </td>
            <td>
                <a href="/question/{{ question["id"] }}/vote-down">Downvote</a>
            </td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>