{% extends 'skeleton.html' %}
{% block title %}All Questions{% endblock %}
{% block body %}
    <h1>Ask Mate - All Questions</h1>
    <a href="/add-question">Add new Question</a><br>
    <a href="/">Back to main Page</a>
        <form action="/list" method="post">
            <div class="cover">
             <div class="tb">
            <div class="td"> <input id="search" placeholder="Search" type="text" name="search"></div>
             </div>
                </div>
            <label for="order_by"><strong>Sort by:</strong></label>
            <input type="radio" name="order_by" value="title">Title
            <input type="radio" name="order_by" value="message">Message
            <input type="radio" name="order_by" value="submission_time" checked>Submission Time
            <input type="radio" name="order_by" value="view_number">View Number
            <input type="radio" name="order_by" value="vote_number">Vote Number
            <br><label for="order_direction"><strong>Order direction:</strong></label>
            <input type="radio" name="order_direction" value="ASC">Ascending
            <input type="radio" name="order_direction" value="DESC" checked>Descending
        </form>
    <table>
        <tr>
            <th>Submission Time</th>
            <th>View Number</th>
            <th>Vote Number</th>
            <th>Question Title</th>
            <th>Question Message</th>
            <th>Image</th>
            <th>Author</th>
        </tr>
        {% for question in all_questions %}
        <tr>
        <td>{{ question.submission_time }}</td>
        <td>{{ question.view_number }}</td>
        <td>{{ question.vote_number }}</td>
        <td><a href="/question/{{ question.id}}">{{ question.title }}</a></td>
        <td>{{ question.message }}</td>
            {% if question.image %}
            <td><img src="{{ url_for('static', filename='uploads/' + question["image"]) }}" width="30"></td>
            {% else %}
            <td> </td>
            {% endif %}
        <td>{{ question.username }}</td>
        <td>
            <a href="/question/{{ question["id"] }}/delete">Delete</a>
        </td>
        <td>
            <a href="/question/{{ question["id"] }}/vote-up">Upvote</a>
        </td>
        <td>
            <a href="/question/{{ question["id"] }}/vote-down">Downvote</a>
        </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
