<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Add New Answer</title>
    </head>
    <body>
        <h1>Add New Answer</h1>
    <form action="/question/{{ question_id }}/new-answer" method="post" enctype="multipart/form-data">
            <br><label for="message">Answer message:</label><br>
                <textarea name="message" rows="4" cols="40" id="message" required></textarea><br>
            <br><label for="image">image:</label><br>
                <input type="text" name="image" id="image"><br>
            <br><button type="submit">Send</button>
        </form>
    </body>
</html>