<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Question nr. {{ question_id}}</title>
    </head>
    <body>
        <h1>Question nr. {{ question_id}}</h1>
        <strong>{{ question["title"]}}</strong>
        <p>{{ question["message"]}}</p><br>
        <a href="/question/{{ question_id}}/edit">Edit Question</a><br>
        <a href="/question/{{ question_id}}/new-answer">Add new Answer</a><br>

        <br><table>
            <tr>
                <th>Submission Time</th>
                <th>Vote Number</th>
                <th>Question ID</th>
                <th>Answer Message</th>
                <th>Image</th>
            </tr>
            {% for answer_item in answers %}
            <tr>
            {% for fieldname, item in answer_item.items() if not fieldname == "id" %}
                 <td>{% if fieldname=="image" %}
                    <img src="/static/uploads/{{ answer_item["image"] }}" width="100">
                 {% else %}
                    {{item}}
                 {% endif %}
                </td>
            {% endfor %}
            <td>
                <a href="/answer/{{ answer_item.get('id')}}/delete">Delete</a>
            </td>
            <td>
                <a href="/answer/{{ answer_item.get('id')}}/vote-up">Upvote</a>
            </td>
            <td>
                <a href="/answer/{{ answer_item.get('id')}}/vote-down">Downvote</a>
            </td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <a href="/list">Back to main Page</a>
    </body>
</html>