{%extends 'skeleton.html'  %}
{% block title %}
        <title>Answer nr. {{ answer_id}}</title>
{% endblock %}
{% block body %}
        <h1>Answer nr. {{ answer_id }}</h1>
        <table>
            <tr>
                <th>Message</th>
                <th>Submission Time</th>
            </tr>
            {% for comment in comments %}
            <tr>
                <td>{{ comment["message"] }}</td>
                <td>{{ comment["submission_time"] }}</td>
                <td><a href="/comment/{{ comment["id"] }}/edit">Edit comment</a></td>
                <td><a href="/comments/{{ comment["id"] }}/delete" onclick="return confirm('Are you sure you want to delete?');" ><i class="fa fa-trash-o" style="font-size: 24px"></i></a></td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <a href="/question/{{ question_id['question_id'] }}">Back to question</a>
{% endblock %}
