<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{url_for('static',filename = 'style.css')}}">
        <meta charset="UTF-8">
        {% block header %}
        <title>Ask Mate | {% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        {% block body %}

        {% endblock %}
        <footer>
            {% block footer %}

            {% endblock %}
        </footer>
    </body>
</html>