<!DOCTYPE html>
<html lang="en">
    <head>
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"/>
        <link rel="stylesheet" href="{{url_for('static',filename = 'style.css')}}">
        <meta charset="UTF-8">
        <div class="title">
        <title>Ask Mate | {% block title %}{% endblock %}</title>
        </div>
    </head>
<body>
    <div class="h1">
        {% block h1 %}
        {% endblock %}
    </div>
<div class="webpage">

    <div class="sidebar">
        <div class="menu">

        </div>
    {% block sidebar %}
    {% endblock %}
    </div>
    <!-- Page Content -->
<div class="content">
    {% block content %}
    {% endblock %}
    </div>
    </div>
</body>
</html>