{% extends 'skeleton.html' %}
{% block title %}List all users{% endblock %}
{% block body %}
<h1>List all users</h1>
<table>
    <thead>
    <tr>
        <th>Username</th>
        <th>Registration date</th>
        <th>Number of questions</th>
        <th>Number of answers</th>
        <th>Number of comments</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users_info %}
        <tr>
            <td><a href="user/{{ user['user_id'] }}">{{ user['username'] }}</a></td>
            <td>{{ user['registration_date'] }}</td>
            <td>{{ user['number_of_questions'] }}</td>
            <td>{{ user['number_of_answers'] }}</td>
            <td>{{ user['number_of_comments'] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
    <a href="/">Back to main Page</a>
{% endblock %}